// обнуляющие стили + flexbox
@import 'normolize.scss';
// Шрифты
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
    url(../fonts/Pippins/Poppinsregular.ttf) format('ttf'),
    url(../fonts/Pippins/Poppinsregular.woff) format('woff'),
    url(../fonts/Pippins/Poppinsregular.woff2) format('woff2');
}

.wrapper{
    width: 100%;
    @include flexbox();
    flex-direction: column;
    align-items: center;
    .reviews{
        width: 100%;
        position: relative;
        height: 1550px;
        background: url(../img/sectionIMG/reviewsMain.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        @include flexbox();
        justify-content: center;
        .reviewsWaveTop{
            width: 100%;
            position: absolute;
            top: -3%;
            transform: matrix(1, 0.025, 0, 1, 0, 0);
        }
        .reviews__mainText{
            margin: 550px 0 0 0;
            width: 36.1%;
            text-align: center;
            @include flexbox();
            flex-direction: column;
            align-items: center;
            .reviews__title{
                width: 60%;
                font-family: 'Poppins';
                font-weight: 700;
                font-size: 28px;
                text-transform: uppercase;
                color: #fff;
                margin: 0 0 30px 0;
            }
            .afterTitle-hr{
                width: 50px;
                height: 7px;
                border-radius: 4px;
                background: #EC7979;
                margin: 0 0 45px 0;
            }
            .reviews__subTitle{
                width: 75%;
                font-family: 'Poppins';
                font-size: 16px;
                line-height: 40px;
                color: #fff;
            }
        }
        .reviewsWaveBot{
            width: 100%;
            position: absolute;
            bottom: -3%;
            transform: matrix(1, 0.025, 0, 1, 0, 0);
        }
    }
}